
  <html>
  <head>
    <title>Reports for 2025-04-30 [9556fa79c4edf7df99e1d9ee3c703964ff357f3b]</title>
    <style>
      a {
        display: block;
      }
      body {
        font-family: sans-serif;
      }
      h2 {
        border-top: 2px solid #222;
        font-size: 1.2em;
        padding-top: 0.2em;
      }
      pre {
        font-size: 1.1em;
      }
      .separator {
        padding: 0 4px;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class='flex'>
      <a href='../../'>Home</a>
      <span class='separator'>-</span>
      <a href='../2025-04-29'>
        Previous: 2025-04-29
      </a>
      <span class='separator'>-</span>
      <a href='../2025-05-01'>
        Next: 2025-05-01
      </a>
    </div>

    <h2>Details of report:</h2>

    <div>
      <b>Date:</b> 2025-04-30
    </div>
    <div>
      <b>Commit SHA:</b> 9556fa79c4edf7df99e1d9ee3c703964ff357f3b
    </div>
    <a href='https://github.com/liferay/liferay-portal/tree/9556fa79c4edf7df99e1d9ee3c703964ff357f3b'>
      Browse liferay-portal repository when this report was generated
    </a>

    <h2>Diff with previous build:</h2>

    <pre>====================================================================================================
📦️ BUNDLE SIZES CHANGES
====================================================================================================

> 🔴 [11.02K + 291] apps/users-admin/users-admin-web/__liferay__/index.js
> 🔴 [64.65K + 282] apps/segments/segments-web/__liferay__/index.js
> 🔴 [384.58K + 263] apps/object/object-web/__liferay__/index.js
> 🔴 [54.33K + 216] apps/frontend-js/frontend-js-components-web/__liferay__/index.js
> 🔴 [59.37K + 212] apps/object/object-js-components-web/__liferay__/index.js
> 🔴 [19.15K + 192] apps/layout/layout-seo-web/__liferay__/index.js
> 🔴 [3.55K + 116] apps/commerce/commerce-shipping-engine-fixed-web/__liferay__/index.js
> 🔴 [6.38K + 113] apps/frontend-taglib/frontend-taglib-clay-sample-web/__liferay__/index.js
> 🔴 [7.94K + 105] apps/commerce/commerce-order-rule-web/__liferay__/index.js
> 🔴 [6.74K + 104] apps/document-library/document-library-video/__liferay__/index.js
> 🔴 [11.82K + 102] apps/commerce/commerce-channel-web/__liferay__/index.js
> 🔴 [39.74K + 102] apps/frontend-taglib/frontend-taglib-clay/__liferay__/index.js
> 🔴 [3.02K + 102] apps/portal-instances/portal-instances-web/__liferay__/index.js
> 🔴 [40.09K + 101] apps/frontend-js/frontend-js-spa-web/__liferay__/index.js
> 🔴 [16.69K + 94] apps/asset/asset-taglib/__liferay__/index.js


< 🟢 [275.99K - 354] apps/dynamic-data-mapping/dynamic-data-mapping-form-field-type/__liferay__/index.js
< 🟢 [237.89K - 306] apps/commerce/commerce-frontend-js/__liferay__/index.js
< 🟢 [171.09K - 273] apps/data-engine/data-engine-js-components-web/__liferay__/index.js
< 🟢 [4.14K - 214] apps/portlet-configuration/portlet-configuration-web/__liferay__/index.js
< 🟢 [14.28K - 188] apps/redirect/redirect-web/__liferay__/index.js
< 🟢 [19.49K - 117] apps/product-navigation/product-navigation-product-menu-web/__liferay__/index.js
< 🟢 [12.25K - 110] apps/commerce/commerce-product-options-web/__liferay__/index.js
< 🟢 [2.16K - 103] apps/user-groups-admin/user-groups-admin-web/__liferay__/index.js
< 🟢 [41.73K - 99] apps/batch-planner/batch-planner-web/__liferay__/index.js
< 🟢 [35.43K - 98] apps/notification/notification-web/__liferay__/index.js
< 🟢 [18.76K - 91] apps/depot/depot-web/__liferay__/index.js
< 🟢 [16.42K - 52] apps/portal-workflow/portal-workflow-instance-tracker-web/__liferay__/index.js
< 🟢 [2.50K - 1] apps/site/site-sitemap-web/__liferay__/index.js

> 🔴 [15.58M + 389] ### TOTAL ###

====================================================================================================
🔗 BUNDLE IMPORTS CHANGES
====================================================================================================
= ⚪️ [0 changes] ### TOTAL ###

====================================================================================================
☕️ JAVA IMPORTS CHANGES
====================================================================================================
📂 modules/apps/frontend-taglib/frontend-taglib:
- 🟢 '<%= ESMURLUtil.buildURL(themeDisplay, "frontend-js-web") %>'

📂 portal-web:
+ 🔴 '<%= FrontendESMUtil.buildURL(themeDisplay, "frontend-js-web") %>'
- 🟢 '<%= ESMURLUtil.buildURL(themeDisplay, "frontend-js-web") %>'

- 🟢 [1 removals] ### TOTAL ###</pre>

    <h2>Resources:</h2>

    <a href=https://github.com/liferay-frontend/github-actions/tree/gh-pages-data/runs/2025-04-30/sonda-files.html>
      List of Sonda.dev files
    </a>
    <a href='https://github.com/liferay-frontend/github-actions/commits/gh-pages/'>
      List of previous report commits in gh-pages branch
    </a>
    <br>
    <a href=https://github.com/liferay-frontend/github-actions/tree/gh-pages-data/runs/2025-04-30/bundle-sizes.csv>bundle-sizes.csv</a>
    <a href=https://github.com/liferay-frontend/github-actions/tree/gh-pages-data/runs/2025-04-30/bundle-sizes-with-internals.csv>
      bundle-sizes-with-internals.csv
    </a>
    <a href=https://github.com/liferay-frontend/github-actions/tree/gh-pages-data/runs/2025-04-30/bundle-imports.csv>bundle-imports.csv</a>
    <a href=https://github.com/liferay-frontend/github-actions/tree/gh-pages-data/runs/2025-04-30/source-imports.csv>source-imports.csv</a>
    <a href=https://github.com/liferay-frontend/github-actions/tree/gh-pages-data/runs/2025-04-30/java-imports.csv>java-imports.csv</a>
  </body>
  </html>

